@model List<WebClientToService.Models.WebAuction>
@{
    ViewBag.Title = "Auctions";
    //Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Auctions</title>
</head>
<body>
    <h3>@Model.Count auctions</h3>
    <div>
        <ul>
            @{
                foreach (var item in Model) {
                    <li>@item</li>
                }
            }
        </ul>
    
    </div>
</body>
</html>
