@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Victor Madsen<br />
    <abbr title="Phone">Phone:</abbr> 40 75 55 39<br />
    Email: <a href="mailto:email@viggo10001@hotmail.com ">Viggo10001@hotmail.com</a><br />
</address>

<address>
    Simon Schmith<br />
    <abbr title="Phone">Phone:</abbr> 22 75 55 39<br />
    Email: <a href="mailto:email@SimonSchmith@hotmail.com ">SimonSchmith@hotmail.com</a><br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>