<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="DesktopClientToService.Utilities.ConvertDataAuction">
                <endpoint address="" binding="basicHttpBinding" contract="DesktopClientToService.Utilities.IModelConvert">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/DesktopClientToService.Utilities/Service1/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuctionService" />
                <binding name="BasicHttpBinding_IAdminService" />
                <binding name="BasicHttpBinding_IBidService" />
                <binding name="BasicHttpBinding_ICustomerService" />
                <binding name="BasicHttpBinding_IBidService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceWithDatabaseAccess.ServiceAccessLayer/AuctionService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuctionService"
                contract="ServiceRefAuction.IAuctionService" name="BasicHttpBinding_IAuctionService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceWithDatabaseAccess.ServiceAccessLayer/AdminService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminService"
                contract="ServiceRefAdmin.IAdminService" name="BasicHttpBinding_IAdminService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceWithDatabaseAccess.ServiceAccessLayer/BidService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBidService"
                contract="ServiceRefBid.IBidService" name="BasicHttpBinding_IBidService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceWithDatabaseAccess.ServiceAccessLayer/CustomerService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService"
                contract="ServiceRefCustomer.ICustomerService" name="BasicHttpBinding_ICustomerService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceWithDatabaseAccess.ServiceAccessLayer/BidService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBidService1"
                contract="ServiceRefBid.IBidService" name="BasicHttpBinding_IBidService1" />
        </client>
    </system.serviceModel>
</configuration>