<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuctionService" />
                <binding name="BasicHttpBinding_IProductService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceWithDatabaseAccess.ServiceAccessLayer/AuctionService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuctionService"
                contract="ServiceRefAuction.IAuctionService" name="BasicHttpBinding_IAuctionService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceWithDatabaseAccess/ServiceAccessLayer/ProductService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
                contract="ServiceRefProduct.IProductService" name="BasicHttpBinding_IProductService" />
        </client>
    </system.serviceModel>
</configuration>