<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="WcfServiceWithDatabaseAccess.ServiceAccessLayer.AdminService">
                <endpoint address="" binding="basicHttpBinding" contract="WcfServiceWithDatabaseAccess.ServiceAccessLayer.IAdminService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WcfServiceWithDatabaseAccess.ServiceAccessLayer/AdminService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="WcfServiceWithDatabaseAccess.ServiceAccessLayer.BidService">
                <endpoint address="" binding="basicHttpBinding" contract="WcfServiceWithDatabaseAccess.ServiceAccessLayer.IBidService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WcfServiceWithDatabaseAccess.ServiceAccessLayer/BidService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="WcfServiceWithDatabaseAccess.ServiceAccessLayer.AuctionService">
                <endpoint address="" binding="basicHttpBinding" contract="WcfServiceWithDatabaseAccess.ServiceAccessLayer.IAuctionService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WcfServiceWithDatabaseAccess.ServiceAccessLayer/AuctionService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="WcfServiceWithDatabaseAccess.ServiceAccessLayer.CustomerService">
                <endpoint address="" binding="basicHttpBinding" contract="WcfServiceWithDatabaseAccess.ServiceAccessLayer.ICustomerService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WcfServiceWithDatabaseAccess.ServiceAccessLayer/CustomerService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="WcfServiceWithDatabaseAccess.ServiceAccessLayer.RecieptService">
                <endpoint address="" binding="basicHttpBinding" contract="WcfServiceWithDatabaseAccess.ServiceAccessLayer.IRecieptService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WcfServiceWithDatabaseAccess.ServiceAccessLayer/RecieptService/" />
                    </baseAddresses>
                </host>
            </service>
          <service name="WcfServiceWithDatabaseAccess.ServiceAccessLayer.HashSaltService">
            <endpoint address="" binding="basicHttpBinding" contract="WcfServiceWithDatabaseAccess.ServiceAccessLayer.IHashSaltService">
              <identity>
                <dns value="localhost" />
              </identity>
            </endpoint>
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:8733/Design_Time_Addresses/WcfServiceWithDatabaseAccess.ServiceAccessLayer/HashSaltService/" />
              </baseAddresses>
            </host>
          </service>
        </services>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
