@model WebClientToService.Models.WebCustomer
@{
    ViewBag.Title = "Login";
}
{
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            Hello @*@User.Identity.Name*@ @Session["FirstName"]
        </li>
        <li>
            @Html.ActionLink("Logout", "LogOff", "Account")
        </li>
    </ul>
}
else
{ 
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Register", "CreateCustomer", "Account")
        </li>
        <li>
            @Html.ActionLink("Login", "CustomerLogin", "Account")
        </li>
    </ul>
}
}